doctype html
html(ng-app='app')

  head
    meta(charset='utf-8')
    title Hub | IC HealthHack
    link(rel="icon",href="images/favicon.png")
    meta(name='description', content="Hub for participants of IC HealthHack 2017")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color', content='#40ad6a')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css', rel='stylesheet')
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='css/marquee.css')

  body.bg-faded

    include includes/navbar

    section#one.bg-alt
      .container
        .row
          .col-lg-12.text-center
            h2.m-t-0.text-dark IC Health Hack Participant Hub
            hr.accent
      .container.wow.fadeInUp
        .row
          .col-lg-6.col-md-6.text-center
            .feature
              a(href="schedule.html")
                i.icon-lg.ion-android-calendar.wow.fadeIn(data-wow-delay='.1s')
              h6.text-uppercase Live Schedule
              p.text-muted.m-b-0
          .col-lg-6.col-md-6.text-center
            .feature
              a(href="hardware.html")
                i.icon-lg.ion-ios-game-controller-b-outline.wow.fadeIn(data-wow-delay='.1s')
              h6.text-uppercase Hardware
              p.text-muted.m-b-0

    include includes/contact

    // scripts loaded here
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js')
    script(src='https://www.gstatic.com/firebasejs/3.6.6/firebase.js')
    script(src='js/scripts.js')
    script(src='js/app.js')
