#contactModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-body
        img.card-img-top.img-fluid(src='images/banner.jpg')
        br
        br
        h5.text-center
          | Emergency Contacts
        h6 Tencho Tenev - 07843875376
        h6 Miroslav Gašpárek - 07599496330
        h6 Nele Quast - 07826418866
        br
        button.btn.btn-primary.btn-block(data-dismiss='modal', aria-hidden='true')
          | Close
