#contactModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-body
        img.card-img-top.img-fluid(src='images/banner.jpg')
        br
        br
        h5.text-center
          | Emergency Contacts
        h6 Harjuno Perwironegoro - 07866469927
        h6 Franz Chaca - 07746329116
        h6 Laura Tan - 07415402475
        br
        button.btn.btn-primary.btn-block(data-dismiss='modal', aria-hidden='true')
          | Close
