nav.navbar.fixed-top.navbar-toggleable-md.navbar-default
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon.stack
  a.navbar-brand.text-light.page-scroll(href='https://ichealthhack.github.io/hub') Hub
  #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav
         a.nav-item.nav-link.page-scroll.text-center(href='https://ichealthhack.github.io/') Home
         a.nav-item.nav-link.page-scroll.text-center(href='schedule.html') Schedule
         a.nav-item.nav-link.page-scroll.text-center(href='hardware.html') Hardware
         a.nav-item.nav-link.page-scroll.text-center(href='https://github.com/ichealthhack') GitHub
         a.nav-item.nav-link.page-scroll.text-center(href='https://ichealthhack18.devpost.com') Devpost
         a.nav-item.nav-link.page-scroll.text-center(href='https://ichealthhack18.slack.com/') Slack
         a.nav-item.nav-link.page-scroll.text-center(data-toggle='modal', href='#contactModal') Contact

br
br
